
        <div>
            <h1>Aplicacion Nodepop</h1> 
            <h2>Esta es una API para iOS/Android</h2>
        </div>
        <div>
            <h4>URL de AWS donde se encuentra la practica  </h4>
            <h4>DNS</h4>
            <ul>
                <li>
                    <a href="http://ec2-34-201-200-155.compute-1.amazonaws.com/" id="dns">Pagina de la DNS de AWS</a>
                </li>
                <li>
                    <a href="http://34.201.200.155/" id="ip">IP publica de AWS</a>          
                </li>
            </ul>
        </div>
        <div>
            <p class="enun">Instalar las dependencias de npm guardadas en el package.json</p>
            <p>npm install</p>
        </div>
        <div>
            <h3>Iniciar la aplicacion</h3>
            <p class="enun">Para iniciar la aplicacion se puede hacer de 2 modos:</p>
            <ul>
                <li>npm start (Inicia directamente en modo cluster)</li>
                <li>npm run dev (incluye nodemon y habria que tener instalado nodemon)</li>
            </ul>           
        </div>
        <div>
            <h3>Configurar la aplicacion</h3>
            <ul>
                <li>Para configurar el puerto de la aplicacion modificar el archivo www dentro de la carpeta /bin.</li>
                <li>Para configurar la conexion a la base de datos modificar el archvio connectMongoose.js en la carpeta /lib</li>
            </ul>
        </div>
        <div>
            <h3>Configurar seguridad</h3>
            <div>
                Esta aplicacion usa para sus usuarios la seguridad JWT, lo que implica que para entrar en la aplicacion y poder usarla tiene que registrarse previamente. Para entrar en dicho registro hemos de acceder mediante la url/api/users/signup
            </div>
            <div>
                Recibiremos un token en la respuesta del servidor en modo json: 
                <p class="json">
                    {
                        "token" : "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlhdCI6MTQ5NjY0OTA4MCwiZXhwIjoxNDk3ODU4NjgwfQ._w12Re6i22P44CHXjpGqU8aZrTMr0YiQjrmAul8biKg"
                    }
                </p>                
            </div>
            <div>
                <p class="enun">Para entrar una vez registrados url/api/users/signin</p>
                <p class="enun">En la cabecera de la peticion hemos de pasar la autorizacion de este modo: </p>
                <img src="/images/cabecera.png"> 
            </div>
        </div>
        <div>
            <h3>Registro de usuarios</h3>
            <h4>POST url/api/users/signup</h4>
            <p class="enun">Esta es la manera mediante la cual accedemos al registro de usuarios. Es necesario para registrarse:</p>
                <ul id="requeridos">
                    <li>name</li>
                    <li>email</li>
                    <li>password</li>
                </ul>
            <div>
                <p class="enun">Sin los 3 campos rellenos saltara un fallo similar a este:</p> 
                <p class="json">{"message":"Error al crear el usuario ValidationError: password: Path `password` is required."}</p>            
                <p class="json">{"message":"Error al crear el usuario WriteError({\"code\":11000,\"index\":0,\"errmsg\":\"insertDocument :: caused by :: 11000 E11000 duplicate key error index: nodepop.users.$name_1  dup key: { : \\\"dum\\\" }\",\"op\":{\"name\":\"dum\",\"email\":\"test12@gmail.com\",\"password\":\"test1234\",\"_id\":\"59351e3807ae060540ad1d0b\",\"__v\":0}})"}</p>
            </div>
            <p class="enun">Si todo ha ido bien en el registro recibiremos el siguiente mensaje:</p>
            <p class="json">{"token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjIsImlhdCI6MTQ5NjY1MzQzMCwiZXhwIjoxNDk3ODYzMDMwfQ.QcCZfi-piYCiSp0MUKG3LmVM-s2T7WQ58t4C4Eomrus"}</p>
        </div>
        <div>
            <h3>Entrada de usuarios registrados</h3>
            <h4>POST url/api/users/signin</h4>
            <p>Esta es la manera mediante la cual accedemos a entrada de usuarios registrados</p> 
            <p class="enun">Una vez registrado si accedemos con los mismos datos correctamente y el token que recibimos correcto nos dara el siguiente mensaje o similar:</p>
            <p class="json">{"message":"Te has logueado correctamente","token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjMsImlhdCI6MTQ5NjY1MzQ4MCwiZXhwIjoxNDk3ODYzMDgwfQ.CEe_JgErl60fZvMAp9VU9OskylAHOej3FFBPziLWMGw"}</p>
        </div>
        <div>
            <h3>Obtencion de anuncios</h3>
            <h4>GET url/api/products</h4>
            <p class="enun">Para poder acceder a los productos publicados tienes que estar registrado y en caso de que este todo ok saldra un mensaje dandote todos los anuncios registrados hasta el momento. En caso contrario saldra un mensaje similar a este:</p>
            <p class="json">{
                success: false,
                message: "Como decia Gandalf:  NO PUEDES PASAR"
                }
            </p>
            <p class="enun">Podemos filtrar los productos mediante los siguientes filtros:</p>
            <ul>
                <li>limit: {int}</li>
                <li>sort: {string}</li>
                <li>tag: {string}</li>
                <li>sell: {bool}</li>
                <li>price: {rango} muestra los productos en un rango de 0-10, 10-50, 50-....</li>
                <li>name: {string}</li>
            </ul>
            <p>Ejemplo de peticion /api/products?limit=2&sort=price&sell=true&name=iphone</p>
            <p class="json">{
                "success":true,
                "result":[
                        {"_id":"593335fc79752f32554f7428",
                        "name":"iphone",
                        "sell":true,
                        "price":150,"picture":"https://c1.staticflickr.com/6/5731/22026361156_2b01033daf_b.jpg",
                        "__v":0,"tag":["mobile"]
                        }]
                }
            </p>
        </div>
        <div>
            <h3>Publicacion de anuncios</h3>
            <h4>POST url/api/products</h4>
            <p class="enun">Para poder publicar anuncios nuevos a parte de estar registrados tenemos que pasar en el body los siguientes campos obligatorios:</p>
            <ul id="requeridos">
                <li>name</li>
                <li>sell</li>
                <li>price</li>
                <li>tag</li>
            </ul>
        </div>